// global
.echarts-for-react {
    background-color: $codGray2;
    padding: toRem(10);
    margin-bottom: toRem(22);
}

.chart-placeholder {
    background-color: $codGray2;
    padding: toRem(10);
    margin-bottom: toRem(22);
    height: toRem(600);
    display: flex;
    justify-content: center;
    align-items: center;
}

// monthly chart
.client-c {
    background-color: $codGray2;
    padding: toRem(22);
    .client-list {
        height: toRem(525);
        overflow-y: scroll;
        @include medium {
            height: auto;
            overflow: auto;
        }
    }
    label {
        display: block;
        padding-bottom: toRem(5);
        @include p1;
        input[type="radio"] {
            vertical-align: middle;
            margin-right: toRem(10);
        }
    }
}

.date-filter {
    position: relative;
    margin-top: toRem(30);
}